:root{
    --background: #101114;
    --primary-color: #503403;
    --secondary-color: #4A4D57;
    --accent-color: #00FFC4;
    --text-color: #F9F9F9;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}
body{
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);

}
.board{
    margin: 4px solid var(--background);
    width: 100%;
    min-height: 80vh;
}